<h1>All Experiments More than 6 months long</h1>
<section id = "long_experiments"
  <% @experiments.each do |experiment| %>
    <p>
    Name: <%= experiment.name %>
    Length: <%= experiment.num_months %>
    </p>
  <% end %>
</div>