<body>
<h1> <%= @lab.name %> </h1>

<h2> List of Scientists </h2>
  <% @lab.scientists.each do |scientist| %>
      <div id="scientist-<%= scientist.name %>">
        Name: <%= scientist.name %> - number of experiments: <%= scientist.num_exp %>
      </div>
      </br>
  <% end %>
  </br>

</body>